* {
    border: none;
    padding: none;
}

.main-content {
    display: inline-block;
    width: 800px;
}

.camarao {
    width: 300px;
}

.sidebar {
    float: right;
    text-align: center;
    width: 20%;
    display: block;
    height: auto;
}