div{
  padding-top: 6px;
  padding-bottom: 6px;
}

#divRes1{
  display: inline-block;
}

#divRes2{
  display: inline-block;
}

#divRes3{
  display: inline-block;
}

body{
  background-color: rgb(233, 243, 245);
}