.super-mario {
    margin-bottom: 150px;
    margin-left: 100px;
    width: 200px;
    z-index: 2;
}

.goomba {
    margin-left: -50px;
    width: 100px;
    z-index: 1;
    position: absolute;
    margin-top: 280px;
}

.baloon {
    position: absolute;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 200px;
    margin-top: -75px;
    z-index: 4;
    float: inline-end;
    width: 200px;
}

.speach {
    position: absolute;
    font-size: 25px;
    z-index: 5;
    margin-left: 540px;
    width: 150px;
    margin-top: -515px;
}

.bowser {
    position: absolute;
    width: 150px;
    z-index: 3;
    margin-left: 70px;
}